<div class='edit-box'>
  <div class="container center">
    <h1 class="display-4">{{title}}</h1>
  </div>
  <div *ngIf='!lineitem && !products'>
    <img src='assets/loading.gif'>
  </div>
  <div *ngIf='lineitem && products'>
      <div class="form-group row">
        <label class='col-form-label col-sm-2' for="product">Product:</label>
        <div class=' col-sm-8'>
          <select [(ngModel)]='lineitem.product' class='form-control' name='product' id='product' [compareWith]='compareFn'>
            <option *ngFor="let product of products" [ngValue]="product" [selected]="product.id === lineitem.product.id">{{product.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class='col-form-label col-sm-2' for="quantity">Quantity:</label>
        <div class="col-sm-8">
          <input [(ngModel)]='lineitem.quantity' name='quantity' type="text" class="form-control" id="quantity"
            #quantity="ngModel" required min="1">
        </div>
        <div *ngIf="quantity.invalid && quantity.touched" class="col-form-label col-sm-2 text-danger">
          <label *ngIf="quantity?.errors.required">Required</label>
          <label *ngIf="quantity?.errors.min">Minimum 1</label>
        </div>
      </div>
      <div class='butn'>
        <button (click)='save()' class='btn btn-primary' [disabled]="!myForm.valid">Save</button>
      </div>
  </div>
</div>