<div class = "box">
  <h1>Dev Jam 2018</h1>
  <br/>
  <h2>About Our Class</h2>
  <div class = "wrapper">
    <img src = "img/devjam.jpeg" alt = "group picture" class = "pic1">
    <p>
      We are the Fall 2018 Java Bootcamp at MAX Technical Training/Cincy Code IT. 
      Our class is called 'Dev Jam', we are fourteen people who come from all walks of life with 
      many different backgrounds. Despite all this, we have managed to come together and be friends.
      During the bootcamp, we met nearly every weekend to work on our new skills or study together.
      Thanks to the tireless efforts of our instructors Sean Blessing and Greg Doud, and the entire 
      staff at MAX Technical Training, we became full-stack developers ready for our first development
      jobs! 
    </p>
  </div>
  <br/>
  <div>
    <h2>Dev Jammers:</h2>
    <table>
      <tr>
        <td>Rachael Baumann</td>
        <td>Sheila Johnson</td>
        <td>Philip Loeffler</td>
        <td>Robert Mahoney</td>
        <td>Lance Mendenhall</td>
      </tr>
      <tr>
        <td>Emilie Nerl</td>
        <td>Monty Nugen</td>
        <td>Michael Page</td>
        <td>Steven Riggle</td>
        <td>Joel Ross</td>
      </tr>
      <tr>
        <td>Angie Snyder</td>
        <td>Nick Sonnenberg</td>
        <td>Nick Strang</td>
        <td>Andrew Wansik</td>
      </tr>
    </table>
  </div>
  <br/>
  <br/>
  <div class = "wrapper">
    <img src = "img/happyhour.jpg" alt = "first meetup" class = "pic2">
    <p>
      The Dev Jammers have worked hard these past few months, we came in early for help and stayed 
      late after class to work on projects. We have taught each other, learned from each other, 
      and helped each other out. 
      <br/>
      <br/>
      We are a class full of researchers, veterans, engineers, graphic designers, salesmen, and retail
      and restaurant workers. Somehow we were able to get along and work together!
      <br/>
      <br/>
      All of Dev Jam was trained in Scrum by Chuck Suscheck. A few of us have
      passed our Scrum test and are Scrum masters. 
    </p>
  </div>
  <div class = "wrapper">
      <br/>
      <img src = "img/scrumladies2.jpg" alt = "fearsome foursome" class = "pic3">
      <p>
       Lisa Slutsky has prepared us for our job interviews over the course of the bootcamp.
       She has worked very hard to make sure we will all succeed and get placed as soon as 
       possible. A few of us have already found jobs at Ascendum Solutions and Kroger.
      </p>
  </div>
</div>