<div class='detail-box'>
  <div class="container center">
    <h1 class="display-4">{{title}}</h1>
  </div>
  <div *ngIf="!lineitem">
    <img src="assets/loading.gif">
  </div>
  <table class="table table-sm" *ngIf='lineitem'>
    <tr>
      <th>UserName:</th>
      <td>{{lineitem.purchaseRequest.user.userName}}</td>
    </tr>
    <tr>
      <th>Product Name:</th>
      <td>{{lineitem.product.name}}</td>
    </tr>
    <tr>
      <th>Product Price:</th>
      <td>{{lineitem.product.price | currency}}</td>
    </tr>
    <tr>
      <th>Quantity:</th>
      <td>{{lineitem.quantity}}</td>
    </tr>
    <!-- <tr>
      <td colspan="2">
        <a routerLink='/lineitems/edit/{{lineitem.id}}' class='btn btn-primary' title='Edit'>Edit</a>
        <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr> -->
    <div class = "butn">
      <a routerLink='/lineitems/edit/{{lineitem.id}}' class='btn btn-primary' title='Edit'>Edit</a>
      <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
    </div>
  </table>
</div>