<div class='list-box'>
  <div class="container center">
    <h1 class="display-4">{{title}} | <span><a routerLink='/products/create'>
          <img id='createnew' width='40' height='40' src='assets/createNew.png' title='Add New'></a>
      </span></h1>
  </div>
  <div *ngIf='!products'>
    <img src='assets/loading.gif'>
  </div>
  <table class="table table-sm" *ngIf='products'>
    <thead>
    <tr>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('vendor.name')"><u>Vendor
            Name</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('partNumber')"><u>PartNumber</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('name')"><u>Name</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('price')"><u>Price</u></a></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products  | sort: {sortBy: sortBy, direction: direction}'>
      <td>{{product.vendor.name}}</td>
      <td>{{product.partNumber}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency}}</td>
      <td class='actions'>
        <a routerLink='/products/detail/{{product.id}}'><img src='assets/userDetail.png' width='50' height='50' title='Detail'></a>
        <a routerLink='/products/edit/{{product.id}}'><img src='assets/userEdit.png' width='50' height='50' title='Edit'></a>
      </td>
    </tr>
  </tbody>
  </table>
</div>