<div class='component-content'>
  <div class="container center">
    <h1 class="display-4">{{title}}</h1>
  </div>
  <div *ngIf="!product">
    <img src="assets/loading.gif">
  </div>
  <table class="table table-sm" *ngIf='product'>
    <tr>
      <td>Vendor</td>
      <td>{{product.vendor.name}}</td>
    </tr>
    <tr>
      <td>PartNumber</td>
      <td>{{product.partNumber}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{product.name}}</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>{{product.price}}</td>
    </tr>
    <tr>
      <td>Unit</td>
      <td>{{product.unit}}</td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="{{product.photoPath}}"></td>
    </tr>
    <tr>
      <td colspan="2">
        <a routerLink='/products/edit/{{product.id}}' class='btn btn-primary' title='Edit'>Edit</a>
        <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr>
  </table>
</div>