<!-- <div class='component-content'> -->
  <div class = "list-box">
  <div class="container center">
    <h1 class="display-4">{{title}} | <span *ngIf="this.syssvc.user.admin"><a routerLink='/users/create'>
          <img id='createnew' width='40' height='40' src='assets/userCreate.png' title='Add New'></a>
      </span></h1>
  </div>
  <div *ngIf='!users'>
    <img src='assets/loading.gif'>
  </div>

  <table class="table table-sm" *ngIf='users'>
    <thead>
    <tr>
      <!-- <th class="table-secondary btn-link"> -->
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('userName')"><u>Username</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('lastName')"><u>Name</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('phoneNumber')"><u>Phone</u></a></th>
      <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('email')"><u>Email</u></a></th>
      <th>Reviewer</th>
      <th>Admin</th>
      <th>Action</th>
    </tr>
  </thead>
    <tr *ngFor='let user of users | sort: {sortBy: sortBy, direction: direction}'>
      <td>{{user.userName}}</td>
      <td>{{user.lastName}}, {{user.firstName}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.email}}</td>
      <td>{{user.reviewer | bool}}</td>
      <td>{{user.admin | bool}}</td>
      <td class='actions'>
        <a routerLink='/users/detail/{{user.id}}'><img src='assets/userDetail.png' width='50' height='50' title='Detail'></a>
        <span *ngIf="this.syssvc.user.admin || this.syssvc.user.id === user.id"><a routerLink='/users/edit/{{user.id}}'><img src='assets/userEdit.png' width='50' height='50' title='Edit'></a></span>
      </td>
    </tr>
  </table>

</div>