<div class='list-box'>
  <div class="container center">
    <h1 class="display-4">Purchase Request</h1>
  </div>
  <div *ngIf='!purchaseRequest'>
    <img src='assets/loading.gif'>
  </div>
   
  <div class = "LIbox">
  <table class="table table-sm" *ngIf='purchaseRequest'>
    <tbody>
    <tr>
      <td class = "weight">User:</td>
      <td>{{purchaseRequest.user.userName}}</td>
      <!-- <td>Description</td>
      <td>{{purchaseRequest.description}}</td> -->
    </tr>
    <tr>
      <td class = "weight">Justification:</td>
      <td>{{purchaseRequest.justification}}</td>
      <!-- <td>Date Needed</td>
      <td>{{purchaseRequest.dateNeeded | date}}</td> -->
    </tr>
    <tr>
      <td class = "weight">Delivery:</td>
      <td>{{purchaseRequest.deliveryMode}}</td>
      <!-- <td>Status</td>
      <td>{{purchaseRequest.status}}</td> -->
    </tr>
    <tr>
      <td class = "weight">Total:</td>
      <td>{{purchaseRequest.total | currency}}</td>
      <!-- <td>Submitted Date</td>
      <td>{{purchaseRequest.submittedDate | date}}</td> -->
    </tr>
    <tr>
      <td class = "weight">Reason For Rejection:</td>
      <td>{{purchaseRequest.reasonForRejection}}</td>
    </tr>
  </tbody>
  </table>
</div>

  <table class="table table-sm" *ngIf='purchaseRequest'>
    <tbody>
    <tr>
      <td class = "weight">Description:</td>
      <td>{{purchaseRequest.description}}</td>
    </tr>
    <tr>
      <td class = "weight">Needed:</td>
      <td>{{purchaseRequest.dateNeeded | date}}</td>
    </tr>
    <tr>
      <td class = "weight">Status:</td>
      <td>{{purchaseRequest.status}}</td>
    </tr>
    <tr>
      <td class = "weight">Submitted:</td>
      <td>{{purchaseRequest.submittedDate | date}}</td>
    </tr>
  </tbody>
  </table>

  <div class="container center">
    <h3 class="display-4">{{title}} | <span><a routerLink='/lineitems/create/{{purchaseRequest.id}}'>
          <img id='createnew' width='30' height='30' src='assets/createNew.png' title='Add New'></a></span></h3>
  </div>
  <div *ngIf='!lineitems'>
    <img src='assets/loading.gif'>
  </div>
  <table class="table table-sm" *ngIf='lineitems'>
    <thead>
    <tr>
      <th class="table-secondary btn-link"><u>Product</u></th>
      <th class="table-secondary btn-link"><u>Price</u></th>
      <th class="table-secondary btn-link"><u>Quantity</u></th>
      <th>Action</th>
    </tr>
  </thead>
    <tr *ngFor='let lineitem of lineitems'>
      <td>{{lineitem.product.name}}</td>
      <td>{{lineitem.product.price | currency}}</td>
      <td>{{lineitem.quantity}}</td>
      <td class='actions'>
        <a routerLink='/lineitems/detail/{{lineitem.id}}'><img src='assets/userDetail.png' width='50' height='50' title='Detail'></a>
        <a routerLink='/lineitems/edit/{{lineitem.id}}'><img src='assets/userEdit.png' width='50' height='50' title='Edit'></a>
      </td>
    </tr>
  </table>
</div>