<div class = "box">
<h1 class = "header">Dev Jam 2018 Capstone Project</h1>

<p>
  The application that MAX Technical training had us pursue was creating a functional Purchase 
  Request System (PRS). The purpose of the project was to provide everyone a preview of a 
  practical application with real world qualities. Our job was to build a serviceable app that 
  included different technologies ranging from database work all the way to styling a web 
  page. Thus, teaching us the use and importance of being a full stack developer.
<hr/>
  The PRS Application provides a user with the ability to request certain items that he or she
  may need from their company. Every request made by the user can contain multiple products, 
  and different quantities.     
<hr/>
  All users must sign into a login page where they are identified as a reviewer or as an 
  administrator. From there, they have the ability to create a purchase request, add 
  products, delete products, and change them accordingly. The purchase request is
  then looked at by a reviewer who makes the decision to accept or reject it.
<hr/>
<p>
  Technologies that our class implemented to finish the Capstone project included:
 </p>
 <table>
    <tr>
      <th>Front-End:</th>
      <th>Back-End:</th>
    </tr>
    <tr>
      <td>Angular Framework</td>
      <td>Java</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>Spring Framework</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>MySQL</td>
    </tr>
    <tr>
      <td>jQuery</td>
      <td>JUnit</td>
    </tr>
  </table>
</div>