/* You can add global styles to this file, and also import other style files */
  jw-modal {
    display: none;
  }
  jw-modal .jw-modal {
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
  }
  jw-modal .jw-modal .jw-modal-body {
    padding: 20px;
    background: #fff;
    margin: 40px;
  }
  jw-modal .jw-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
  body.jw-modal-open {
    overflow: hidden;
  }
  /* body {
    padding-top: 75px;
    background-color: #d1ccc0;
    font-size: 1.5em;
  } */
  .center {
    text-align: center;
  }

  /* .btn {
    font-size: .9em;
  } */

  input[type=checkbox] {
    transform: scale(2.0);
    margin-top: 10px;
  }

  /* Rachael's CSS additions */
body {
    /* background: rgb(143, 143, 228); */
    background: url(assets/office_background.jpeg) no-repeat center fixed;
    background-size: cover;
    height: 1500px;
    padding-top: 75px;
}
h1 {
  text-align: center;
  background: lightgray;
}

/* Style List Tables */
td {
  background: rgb(189, 201, 218);
}
thead {
  font-size: 15pt;
  font-weight: bold;
  background: lightgray;
}
a {
  color: rgb(32, 13, 109);
}

nav {
  font-size: 16pt;
}

.box {
  background: rgb(189, 201, 218);
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  font-size: 14pt;
}
.list-box {
  padding: 15px;
  font-size: 14pt;
}
.edit-box {
  background: rgb(189, 201, 218);
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 50px;
  padding: 20px;
  font-size: 14pt;
}
.detail-box {
  background: rgb(189, 201, 218);
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  padding: 20px;
  font-size: 14pt;
}
.butn {
  text-align: center;
  font-size: 14pt;
}
