<div class="edit-box">
  <div class="container center">
    <h1 class="display-4">{{title}}</h1>
  </div>
  <div *ngIf="!purchaserequest">
    <img src="assets/loading.gif">
  </div>
  <table class="table table-sm" *ngIf='purchaserequest'>
    <tr>
      <th>User:</th>
      <td>{{purchaserequest.user.userName}}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{purchaserequest.description}}</td>
    </tr>
    <tr>
      <th>Justification:</th>
      <td>{{purchaserequest.justification}}</td>
    </tr>
    <tr>
      <th>Needed:</th>
      <td>{{purchaserequest.dateNeeded | date}}</td>
    </tr>
    <tr>
      <th>Delivery:</th>
      <td>{{purchaserequest.deliveryMode}}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>{{purchaserequest.status}}</td>
    </tr>
    <tr>
      <th>Total:</th>
      <td>{{purchaserequest.total | currency}}</td>
    </tr>
    <tr>
      <th>Submitted:</th>
      <td>{{purchaserequest.submittedDate | date}}</td>
    </tr>
    <tr>
      <th>Reason For Rejection:</th>
      <td>{{purchaserequest.reasonForRejection}}</td>
    </tr>
    <!-- <tr>
      <td colspan="2">
        <button (click)="submit()" class='btn btn-danger' title='Submit' *ngIf="purchaserequest.user.id === this.syssvc.user.id && purchaserequest.status === 'New'">Submit</button>
        <a *ngIf="purchaserequest.user.id === this.syssvc.user.id && purchaserequest.status === 'New'" routerLink='/purchaserequests/edit/{{purchaserequest.id}}' class='btn btn-primary' title='Edit'>Edit</a>
        <button *ngIf="syssvc.user.admin || purchaserequest.user.id === this.syssvc.user.id" (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr> -->
  </table>
  <div class = "butn" *ngIf="purchaserequest">
    <button (click)="submit()" class='btn btn-danger' title='Submit' *ngIf="purchaserequest.user.id === this.syssvc.user.id && purchaserequest.status === 'New'">Submit</button>
        <a *ngIf="purchaserequest.user.id === this.syssvc.user.id && purchaserequest.status === 'New'" routerLink='/purchaserequests/edit/{{purchaserequest.id}}' class='btn btn-primary' title='Edit'>Edit</a>
        <button *ngIf="syssvc.user.admin || purchaserequest.user.id === this.syssvc.user.id" (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
  </div>
</div>